@{
    ViewBag.Title = "Home Page";
    ViewBag.Heading = "SportsPro Technical Support";
    ViewBag.Desc = "Sports management software for the sports enthusiast";

}
<div class="wrap">
    <div id="homeContents">
        <div class="container">
            <div id="adminMenu" class="homeMenu">
                <h2 class="subHeading">Admin</h2>
                <a href="/products">Manage Products</a>
                <a href="/technicians">Manage Technicians</a>
                <a href="/customers">Manage Customers</a>
                <a href="/incidents">Manage Incidents</a>
                <a href="/registrations">Manage Registrations</a>
            </div>
            <div id="techniciansMenu" class="homeMenu">
                <h2 class="subHeading">Technicians</h2>
                <a href="/techincident">Update Incident</a>
            </div>
        </div>
    </div>
</div>

