@model IncidentListViewModel 
@{
    ViewBag.Title = "Get Technician";
   

}

<form asp-action="GetOpenIncidents" method="post">
    <label>Technician</label>
    
    <select class="form-control" name="id" asp-items="@Model.TechnicianList">
     <option>Select a Technician</option>
    </select>
    <br />

    <button type="submit" class="btn btn-primary">Get Technician</button>
</form>
