@model RegistrationListViewModel
@{
    ViewBag.Title = "Registration";
    ViewBag.Heading = ViewBag.Action + " Registration";
    ViewBag.Desc = "View and Create Registrations";
  
}
<div class="container">
    <h2 class="subHeading">Registration information</h2>
    <div id="registration_product_dropdown">
        <form class="products_registration" asp-action="GetRegistrations" method="post">
            <!-- Dynamic Product Dropdown -->
            <select class="products_registration" name="id" asp-items="@Model.CustomerList" required>
          
            </select>
            <button type="submit" class="fBtn">Get Customer</button>
         
        </form>
    </div>
</div>

