@model RegistrationListViewModel
@{
    ViewBag.Title = "Registrations";
}

<form asp-action="GetRegistrations" method="post">
    <label>Customer</label>
    <select class="form-control" name="id" asp-items="@Model.CustomerList">
     <option>Select a Customer</option>
    </select>

    <br />
    <button type="submit" class="btn btn-primary">Get Customer</button>

    </form>
